@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import "tailwindcss";

*{
  font-family: "Almarai", sans-serif;
}

app{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px; 
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #bebebe; 
}
::-webkit-scrollbar-thumb {
  background:  #ffba00; 
}

html {
  scroll-behavior: smooth;
}